* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #404040;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.display {
  width: 100%;
  height: 100px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(146, 185, 77);
  color: black;
  text-align: right;
  font-size: 80px;
}

.teclado {
  width: 400px;
  height: 400px;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.key {
  font-size: 80px;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
}

.num {
  background-color: #808080;
}

.clr {
  background-color: orangered;
}

.equ {
  background-color: cornflowerblue;
}